<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-20">
          <button [routerLink]="['/dashboard/site-ownership-verification/add']" type="button" class="btn btn-primary waves-effect waves-light">Verify a Site</button>
        </div>
        <h4 class="page-title">
            Site Ownership Verification
        </h4>
      </div>
    </div>
    <div *ngIf="loading" class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-2">
        <app-spinner [show]="loading"></app-spinner>
      </div>
      <div class="col-sm-5"></div>
    </div>
    <div *ngIf="!loading" class="row">
        <div class="col-sm-3">
          <div class="card m-b-20 card-body">
              <p>Before you can start a load test you must first verify that you own the site. This security measure helps prevent abuse. To verify your site you'll need to do one of the following:</p>
              <ul>
                <li>Add a verification TXT record to the domain.</li>
                <li>Add a meta tag to the HEAD block of your site.</li>
                <li>Install the Kernl Site Verification WordPress plugin.</li>
              </ul>
              <button (click)="openDocumentation(docs)" class="btn btn-primary">Learn More</button>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="card m-b-20 card-body">
              <table class="table table-striped">
                <thead>
                  <th>Site</th>
                  <th>Verified?</th>
                  <th>Verification Method</th>
                  <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let site of sites">
                      <td>{{ site.base_url }}</td>
                      <td>
                        <span *ngIf="site.verified" class="badge badge-success">Verified</span>
                        <span *ngIf="!site.verified" class="badge badge-warning">Not Verified</span>
                      </td>
                      <td>
                        <ul>
                          <li><b>DNS TXT Record</b>: load-test-verify-{{ site.uuid }}</li>
                          <li><b>HTML Meta Tag</b>: <span [innerHTML]="getMetaTag(site.uuid)"></span></li>
                          <li><b>Site Verification Code</b>: {{ site.uuid }}</li>
                        </ul>
                      </td>
                      <td class="action-buttons">
                        <button (click)="deleteSite(confirm, site.id)" class='btn btn-small btn-danger btn-delete'>Delete</button>&nbsp;
                        <app-verify-site-ownership-button
                          [siteOwnershipId]="site.id"
                          (verifyCompleted)="onVerifyCompleted($event)"></app-verify-site-ownership-button>
                      </td>
                    </tr>
                    <tr *ngIf="!sites || sites.length === 0">
                      <td colspan=4>
                        <div class="alert alert-info">
                          You have not verified your ownership of any sites. Click the "Verify a Site" button to get started.
                        </div>
                      </td>
                    </tr>
                </tbody>
              </table>
          </div>
        </div>
    </div>
</div>
<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Are you sure?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>You are about to delete your site verification. Once deleted you will no longer be able to run load tests against this site until you re-verify ownership.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('dismiss')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('continue')">Delete Site Verification</button>
  </div>
</ng-template>

<ng-template #docs let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Site Ownership Verification Documentation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>RoboSwarm has several different methods for verifying your site ownership. You only need to do <b>one</b> type of verification.</p>
    <h3>DNS TXT Record Verification</h3>
    <p>
      If you have access to your site's DNS records, adding a TXT record might be the easiest option. To do that, go to your DNS control panel, find your domain, and add a text record with the value listed in the site ownership table.
    </p>
    <p>DNS records can take time to propagate. If verification doesn't work right away, try again in 20 minutes. If it still doesn't work, you might need to wait longer. DNS records can take up to 48 hours to propagate across the globe.</p>
    <h3>HTML Meta Tag Verification</h3>
    <p>
      Another method of site verification is to add an HTML Meta tag to your site with your verification code.
    </p>
    <pre>&lt;meta name=&quot;kernl-verify&quot; content=&quot;your-verification-code-goes-here&quot;&gt;</pre>
    <p>Add this in the &lt;header&gt; of your site and then click the "verify" button. If you have caching enabled you will need to flush the cache before RoboSwarm can see the change.</p>
    <h3>WordPress Plugin Verification</h3>
    <p>
      The final method of verification available to you is to use the Kernl Site Verification plugin. If your wondering "why Kernl?", it's because RoboSwarm is developed by the same team.
    </p>
    <p>
      <a class="btn btn-primary waves-effect waves-light" href="https://kernl.us/api/v1/updates/5c4067673068390d7de821c2/download/">Download Now</a>
    </p>
    <p>Once downloaded and installed, go to Settings => General and scroll to bottom. Enter your site verification code in the "Kernl Site Verification" section.</p>
    <p>As with the meta tag method above, please make sure to clear all of your WordPress caches before attempting to verify the site again.</p>
  </div>
</ng-template>