<div id="navigation">
  <ul class="navigation-menu">
    <li>
      <a [routerLink]="['/dashboard']"><i class="mdi mdi-invert-colors"></i> <span> Load Tests </span> </a>
    </li>
    <li>
      <a [routerLink]="['/template']"><i class="dripicons-clipboard"></i> <span> Templates </span> </a>
    </li>
    <li>
      <a [routerLink]="['/site-ownership-verification']"><i class="dripicons-lock"></i> <span> Verify Site Ownership </span> </a>
    </li>
    <li>
        <a [routerLink]="['/plans-and-billing']"><i class="dripicons-article"></i> <span> Plans &amp; Billing </span> </a>
    </li>
    <li class='pull-right'>
      <a [routerLink]="['/logout']"><i class="ti-power-off m-r-5"></i> <span> Log Out </span> </a>
    </li>
  </ul>
</div>