<app-navigation></app-navigation>
<div class="wrapper swarm-detail">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h4 *ngIf="swarm && swarm.name" class="page-title">
            {{ swarm.name }}
            <app-stop-load-test-button
                class="pull-right"
                *ngIf="swarm && swarm.status !== destroyed"
                [swarmStatus]="swarm.status"
                [swarmId]="swarm.id"
                (deleteCompleted)="onDeleteCompleted($event)"></app-stop-load-test-button>
            <app-repeat-load-test
                class="pull-right"
                [swarmStatus]="swarm.status"
                [swarmId]="swarm.id"
                (repeatCompleted)="onRepeatCompleted($event)"></app-repeat-load-test>
        </h4>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div *ngIf="swarm" class="card m-b-20 card-body meta">
                <p *ngIf="!swarm.destroyed_at"><b>Current Users: </b>{{ getCurrentUsers() }}</p>
                <p><b>Total Users: </b> {{ swarm.simulated_users }}</p>
                <p><b>Spawn Rate: </b> {{ swarm.spawn_rate }}</p>
                <p><b>Swarm Size: </b> {{ swarm.size }} + 1 master</p>
                <p><b>Host URL: </b> {{ swarm.host_url }}</p>
                <p><b>Duration (Minutes): {{ swarm.duration }}</b></p>
                <p><b>Region: </b> {{ swarm.region }}</p>
                <p><b>Started At: </b> {{ swarm.ready_at | date:"short" }}</p>
            </div>
        </div>
        <div class="col-sm-9">
                <div class="card m-b-20 card-body"
                *ngIf="!loading && requestData && requestData.length > 0">
                <h4 class="card-title">Requests / Failures per Second</h4>
                <div style="height:400px; width: 100%;">
                    <ngx-charts-line-chart
                    [results]="formattedResultData"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [autoScale]="true"></ngx-charts-line-chart>
                </div>
            </div>
            <div class="card m-b-20 card-body"
                *ngIf="!loading && requestData && requestData.length > 0">
                <h4 class="card-title">Total Failed Requests</h4>
                <div style="height:400px; width: 100%;">
                    <ngx-charts-line-chart
                    [results]="formattedFailureData"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [autoScale]="true"></ngx-charts-line-chart>
                </div>
            </div>
            <div class="card m-b-20 card-body"
                 *ngIf="!loading && distributionData && distributionData.length > 0">
                <h4 class="card-title">Request Distribution</h4>
                <div style="height:400px; width: 100%;">
                    <ngx-charts-bar-vertical
                        [results]="formattedDistributionData"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="distributionXAxisLabel"
                        [yAxisLabel]="distributionYAxisLabel">
                    </ngx-charts-bar-vertical>
                </div>
            </div>
            <div class="card m-b-20 card-body result-table">
                <h4 class="card-title">Requests</h4>
                <table class="table table-striped m-0">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Requests</th>
                            <th>Failures</th>
                            <th>Med. Time</th>
                            <th>Avg. Time</th>
                            <th>Min</th>
                            <th>Max</th>
                            <th>Avg. Size</th>
                            <th>Req/s</th>
                            <th>Failures/s</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="loading">
                            <td colspan="9" align="center">
                                <app-spinner [show]="loading"></app-spinner>
                            </td>
                        </tr>
                        <tr *ngIf="!loading && requestData && requestData.length === 0">
                            <td colspan="9">
                                <div class="alert alert-info">
                                    No load test request data available from this swarm. If the swarm just started, check back in a few minutes.
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor="let row of requestData">
                            <td>{{ row.created_at | date:"medium" }}</td>
                            <td>{{ row.requests }}</td>
                            <td>{{ row.failures }}</td>
                            <td>{{ row.median_response_time }}</td>
                            <td>{{ row.average_response_time }}</td>
                            <td>{{ row.min_response_time }}</td>
                            <td>{{ row.max_response_time }}</td>
                            <td>{{ row.avg_content_size }}</td>
                            <td>{{ row.requests_per_second }}</td>
                            <td>{{ row.failures_per_second }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card m-b-20 card-body result-table">
                <h4 class="card-title">Distribution</h4>
                <table class="table table-striped m-0">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Requests</th>
                            <th>50%</th>
                            <th>66%</th>
                            <th>75%</th>
                            <th>80%</th>
                            <th>90%</th>
                            <th>95%</th>
                            <th>98%</th>
                            <th>99%</th>
                            <th>100%</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="loading">
                            <td colspan="11" align="center">
                                <app-spinner [show]="loading"></app-spinner>
                            </td>
                        </tr>
                        <tr *ngIf="!loading && distributionData && distributionData.length === 0">
                            <td colspan="11">
                                <div class="alert alert-info">
                                    No load test distribution data available from this swarm. If the swarm just started, check back in a few minutes.
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor="let row of distributionData">
                            <td>{{ row.created_at | date:"medium" }}</td>
                            <td>{{ row.requests }}</td>
                            <td>{{ row.percentiles['50%'] }}</td>
                            <td>{{ row.percentiles['66%'] }}</td>
                            <td>{{ row.percentiles['75%'] }}</td>
                            <td>{{ row.percentiles['80%'] }}</td>
                            <td>{{ row.percentiles['90%'] }}</td>
                            <td>{{ row.percentiles['95%'] }}</td>
                            <td>{{ row.percentiles['98%'] }}</td>
                            <td>{{ row.percentiles['99%'] }}</td>
                            <td>{{ row.percentiles['100%'] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="requestDataFinal && requestDataFinal.length > 0"class="row">
        <div class="col-sm-12">
            <div class="card m-b-20 card-body result-table">
                <h4 class="card-title">Final Request Results</h4>
                <table class="table table-striped m-0">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Method</th>
                            <th>Route</th>
                            <th>Requests</th>
                            <th>Failures</th>
                            <th>Med. Time</th>
                            <th>Avg. Time</th>
                            <th>Min</th>
                            <th>Max</th>
                            <th>Avg. Size</th>
                            <th>Req/s</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of requestDataFinal">
                            <td>{{ row.created_at | date:"medium" }}</td>
                            <td>{{ row.method }}</td>
                            <td>{{ row.route }}</td>
                            <td>{{ row.requests }}</td>
                            <td>{{ row.failures }}</td>
                            <td>{{ row.median_response_time }}</td>
                            <td>{{ row.average_response_time }}</td>
                            <td>{{ row.min_response_time }}</td>
                            <td>{{ row.max_response_time }}</td>
                            <td>{{ row.avg_content_size }}</td>
                            <td>{{ row.requests_per_second }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="distributionDataFinal && distributionDataFinal.length > 0" class="row">
        <div class="card m-b-20 card-body result-table">
            <h4 class="card-title">Final Distribution Results</h4>
            <table class="table table-striped m-0">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Method</th>
                        <th>Route</th>
                        <th>Requests</th>
                        <th>50%</th>
                        <th>66%</th>
                        <th>75%</th>
                        <th>80%</th>
                        <th>90%</th>
                        <th>95%</th>
                        <th>98%</th>
                        <th>99%</th>
                        <th>100%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of distributionDataFinal">
                        <td>{{ row.created_at | date:"medium" }}</td>
                        <td>{{ row.method }}</td>
                        <td>{{ row.route }}</td>
                        <td>{{ row.requests }}</td>
                        <td>{{ row.percentiles['50%'] }}</td>
                        <td>{{ row.percentiles['66%'] }}</td>
                        <td>{{ row.percentiles['75%'] }}</td>
                        <td>{{ row.percentiles['80%'] }}</td>
                        <td>{{ row.percentiles['90%'] }}</td>
                        <td>{{ row.percentiles['95%'] }}</td>
                        <td>{{ row.percentiles['98%'] }}</td>
                        <td>{{ row.percentiles['99%'] }}</td>
                        <td>{{ row.percentiles['100%'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>

