<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="app-login wrapper-page">
  <div class="text-center">
    <a href="/" class="logo" alt="Roboswarm">
      <img src="/assets/images/roboswarm_transparent.png" />
    </a>
  </div>
  <div class="m-t-40 card-box">
    <div class="text-center">
      <h4 class="text-uppercase font-bold mb-0">Password Reset</h4>
    </div>
    <div class="p-20">
      <div *ngIf="resetRequested" class="alert alert-info">
          If the email exists in our system, a password reset email with further instructions has been sent to it.
      </div>
      <form *ngIf="!resetRequested" class="form-horizontal m-t-20" #passwordResetForm="ngForm" (ngSubmit)="onSubmit(passwordResetForm)">
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control"
                   type="email"
                   name="email"
                   required
                   [(ngModel)]="model.email"
                   [disabled]="submitted"
                   placeholder="Email">
          </div>
        </div>
        <div class="form-group text-center m-t-40 mb-0">
          <div class="col-xs-12 d-grid">
            <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light"
                    type="submit"
                    [disabled]="submitted || !allFieldsCompleted()">
              Reset Password
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <div *ngIf='error !== ""' class="alert alert-danger" role="alert">
              {{ error }}
            </div>
            <p class="text-muted exit first">Don't have account?<a [routerLink]="['/auth/register']"
                class="text-primary m-l-5"><b>Register</b></a></p>
            <p class="text-muted exit">Already have an account? <a [routerLink]="['/auth/login']"
            class="text-primary m-l-5"><b>Login</b></a></p>
          </div>
        </div>

      </form>

    </div>
  </div>
  <!-- end card-box -->
</div>