.app-login .alert-danger {
    margin-top: 15px;
}

.logo img {
    width: 300px;
}

.m-t-40 {
    margin-top: 20px !important;
}

.text-muted.exit {
    margin-bottom: 0px;
}

.text-muted.exit.first {
    margin-top: 10px;
}