<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="app-login wrapper-page">
  <div class="text-center">
    <a href="/" class="logo" alt="Roboswarm">
      <img src="/assets/images/roboswarm_transparent.png" />
    </a>
  </div>
  <div class="m-t-40 card-box">
    <div class="text-center">
      <h4 class="text-uppercase font-bold mb-0">Change Password</h4>
    </div>
    <div class="p-20">
      <div *ngIf="passwordChanged" class="alert alert-info">
          You password has been changed. Click <a [routerLink]="['/auth/login']"
                class="text-primary m-l-5"><b>here</b></a> to login.
      </div>
      <form *ngIf="!passwordChanged" class="form-horizontal m-t-20" #passwordChangeForm="ngForm" (ngSubmit)="onSubmit(passwordChangeForm)">
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control"
                   type="password"
                   name="passwordA"
                   required
                   [(ngModel)]="model.passwordA"
                   [disabled]="submitted"
                   placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control"
                   type="password"
                   name="passwordB"
                   required
                   [(ngModel)]="model.passwordB"
                   [disabled]="submitted"
                   placeholder="Confirm Password">
          </div>
        </div>
        <div class="form-group text-center m-t-40 mb-0">
          <div class="col-xs-12">
            <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light"
                    type="submit"
                    [disabled]="submitted || !allFieldsCompleted()">
              Change Password
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <div *ngIf='error !== ""' class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- end card-box -->
</div>