<app-navigation></app-navigation>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="page-title">Verify a Site</h4>
      </div>
    </div>
    <div *ngIf="newSite" class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card m-b-20 card-body">
              <p>The next step in the verification process is adding this following TXT record to your DNS configuration.</p>
              <pre>roboswarm-verify={{newSite.uuid}}</pre>
              <p>For information about adding TXT records, see <a href='https://support.google.com/a/topic/1409901'>this documentation</a> from Google. Follow all of the non-Google specific directions and simply use the TXT record displayed above.</p>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div *ngIf="!newSite" class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
          <div class="card m-b-20 card-body">
              <p class="card-text">Before you can run a load test you first need to verify that you are the owner of the site you are trying to test against. Enter the URL of the site you will be testing below and click "Next" for directions on how to proceed.</p>
              <form class="form-horizontal m-t-20" #verifySiteForm="ngForm" (ngSubmit)="onSubmit(verifySiteForm)">
                <div class="form-group">
                  <label for="url">Base URL</label>
                  <input class="form-control"
                        type="text"
                        name="url"
                        id="url"
                        required
                        [(ngModel)]="model.url"
                        [disabled]="submitted">
                  <small class="form-text text-muted">The base url that you will be testing. For example: https://roboswarm.us or https://www.google.com</small>
                </div>
                <div class="form-group text-center m-t-40 mb-0">
                    <button class="btn btn-custom btn-bordered btn-block waves-effect waves-light"
                            type="submit"
                            [disabled]="submitted || !canSave()">
                      Next
                    </button>
                    <p></p>
                    <div *ngIf='error !== ""' class="alert alert-danger" role="alert">
                      {{ error }}
                    </div>
                </div>
              </form>
          </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
</div>
<app-footer></app-footer>