<app-navigation></app-navigation>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="page-title">Create Swarm &amp; Load Test</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
          <div class="card m-b-20 card-body">
              <p class="card-text">Fill out the information below to create your load test. Once the form as been submitted RoboSwarm will generate your swarm and start your load test.</p>
              <form class="form-horizontal m-t-20" #createSwarmForm="ngForm" (ngSubmit)="onSubmit(createSwarmForm)">
                <div class="form-group">
                  <label for="name">Load Test Name</label>
                  <input class="form-control"
                        type="text"
                        name="name"
                        id="name"
                        required
                        [(ngModel)]="model.name"
                        [disabled]="submitted">
                  <small class="form-text text-muted">How would you describe your load test? The name will make it easier to find pick out in the list of previous load tests.</small>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="site_id">Site To Test</label>
                      <div *ngIf="!sites || sites.length === 0" class="alert alert-danger">
                        You have no verified sites to test. To verify a site, click the "Verify Site Ownership" menu item at the top of the page and follow the instructions.
                      </div>
                      <select class="form-control"
                        *ngIf="sites && sites.length > 0"
                        id="site_id"
                        name="site_id"
                        required
                        [(ngModel)]="model.site_id"
                        [disabled]="submitted">
                        <option *ngFor="let site of sites" [value]="site.id">{{site.base_url}}</option>
                      </select>
                      <small class="form-text text-muted">The site that we will load test.</small>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="template_id">Template</label>
                      <div *ngIf="!templates || templates.length === 0" class="alert alert-danger">
                        You have no templates created. Click the "Templates" menu to get started.
                      </div>
                      <select class="form-control"
                        *ngIf="templates && templates.length > 0"
                        id="template_id"
                        name="template_id"
                        required
                        [(ngModel)]="model.template_id"
                        [disabled]="submitted">
                        <option *ngFor="let template of templates" [value]="template.id">{{template.name}}</option>
                      </select>
                      <small class="form-text text-muted">The load test template we will run against the site selected above.</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="simulated_users"># of Simulated Users</label>
                      <input class="form-control"
                            type="number"
                            name="simulated_users"
                            id="simulated_users"
                            required
                            [(ngModel)]="model.simulated_users"
                            [disabled]="submitted"
                            placeholder="150, 2500, 25000, etc">
                      <small class="form-text text-muted">This is the total number of users for the load test.</small>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="duration_minutes">Test Duration in Minutes</label>
                      <input class="form-control"
                            type="number"
                            id="duration_minutes"
                            name="duration_minutes"
                            required
                            [(ngModel)]="model.duration_minutes"
                            [disabled]="submitted">
                      <small class="form-text text-muted">How many minutes should this load test run for?</small>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="swarm_region">Swarm Region(s)</label>
                  <select class="form-control"
                        id="swarm_region"
                        name="swarm_region"
                        multiple
                        required
                        [(ngModel)]="model.swarm_region"
                        [disabled]="submitted">
                    <option value="ams3">Amsterdam</option>
                    <option value="blr1">Bangalore</option>
                    <option value="fra1">Frankfurt</option>
                    <option value="lon1">London</option>
                    <option value="nyc3">New York City</option>
                    <option value="sfo2">San Francisco</option>
                    <option value="sgp1">Singapore</option>
                    <option value="tor1">Toronto</option>
                  </select>
                  <small class="form-text text-muted">The geographic location(s) that your load test traffic should originate from.</small>
                </div>
                <div class="form-group text-center m-t-40 mb-0">
                    <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light"
                            type="submit"
                            [disabled]="submitted || !allFieldsCompleted()">
                      Create Swarm &amp; Start Load Test
                    </button>
                    <p></p>
                    <div *ngIf='error !== ""' class="alert alert-danger" role="alert">
                      {{ error }}
                    </div>
                </div>
              </form>
          </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
</div>
<app-footer></app-footer>