<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="page-title">Create Swarm &amp; Load Test</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
          <div class="card m-b-20 card-body">
              <p class="card-text">
                Fill out the information below to create your load test. Once the form as been submitted RoboSwarm will generate your swarm and start your load test. If your site is protected by Cloudflare you need to take additional configuration steps. <a href="https://docs.kernl.us/#/pages/load-testing/cloudflare">Read more here</a>
              </p>
              <form class="form-horizontal m-t-20" #createSwarmForm="ngForm" (ngSubmit)="onSubmit(createSwarmForm)">
                <div class="form-group">
                  <label for="name">Load Test Name</label>
                  <input class="form-control"
                        type="text"
                        name="name"
                        id="name"
                        required
                        [(ngModel)]="model.name"
                        [disabled]="submitted">
                  <small class="form-text text-muted">How would you describe your load test? The name will make it easier to find pick out in the list of previous load tests.</small>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="site_id">Site To Test</label>
                      <div *ngIf="!sites || sites.length === 0" class="alert alert-danger">
                        You have no sites to test. To add one, click "Verify Site Ownership" in the menu above.
                      </div>
                      <ng-select
                          *ngIf="sites && sites.length > 0"
                          [items]="sites"
                          [multiple]="false"
                          [closeOnSelect]="true"
                          [searchable]="false"
                          [disabled]='submitted'
                          name="site_id"
                          bindValue="id"
                          bindLabel="base_url"
                          placeholder="Select Site"
                          [(ngModel)]="model.site_id">
                      </ng-select>
                      <small class="form-text text-muted">The site that we will load test.</small>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="template">Template</label>
                      <div *ngIf="!templates || templates.length === 0" class="alert alert-danger">
                        You have no templates created. Click the "Templates" menu to get started.
                      </div>
                      <ng-select
                          *ngIf="templates && templates.length > 0"
                          [items]="templates"
                          [multiple]="false"
                          [closeOnSelect]="true"
                          [searchable]="false"
                          [disabled]='submitted'
                          name="template"
                          bindLabel="name"
                          placeholder="Select Template"
                          [(ngModel)]="model.template">
                      </ng-select>
                      <small class="form-text text-muted">The load test template we will run against the site selected above.</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="simulated_users"># of Simulated Users</label>
                      <input class="form-control"
                            type="number"
                            name="simulated_users"
                            id="simulated_users"
                            required
                            [(ngModel)]="model.simulated_users"
                            [disabled]="submitted"
                            placeholder="150, 2500, 25000, etc">
                      <small class="form-text text-muted">This is the total number of users for the load test.</small>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="duration_minutes">Test Duration in Minutes</label>
                      <input class="form-control"
                            type="number"
                            id="duration_minutes"
                            name="duration_minutes"
                            required
                            [(ngModel)]="model.duration_minutes"
                            [disabled]="submitted">
                      <small class="form-text text-muted">How many minutes should this load test run for?</small>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="swarm_region">Load Test Region(s)</label>
                  <ng-select
                      [items]="regions"
                      [multiple]="true"
                      [closeOnSelect]="false"
                      [searchable]="true"
                      [disabled]='submitted'
                      name="swarm_region"
                      bindValue="value"
                      bindLabel="name"
                      placeholder="Select 1 or more regions"
                      [(ngModel)]="model.swarm_region">
                  </ng-select>
                  <small class="form-text text-muted">The geographic location(s) that your load test traffic should originate from.</small>
                </div>
                <div class="form-group text-center m-t-40 mb-0">
                    <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light"
                            type="submit"
                            [disabled]="submitted || !allFieldsCompleted()">
                      Start Load Test
                    </button>
                    <p></p>
                    <div *ngIf='error !== ""' class="alert alert-danger" role="alert">
                      {{ error }}
                    </div>
                </div>
              </form>
          </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
</div>