<div class="wrapper billing">
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Plans &amp; Billing</h4>
        </div>
    </div>
    <div class="row m-t-10">
      <div *ngIf="!loading" class="col-md-10 offset-md-1">
          <div class="row">
              <!--Pricing Column-->
              <article class="pricing-column col-xl-4 col-md-6">
                  <div class="inner-box card-box">
                      <div class="plan-header text-center">
                          <h3 class="plan-title">Free</h3>
                          <h2 class="plan-price">$0</h2>
                          <div class="plan-duration">Per Month</div>
                      </div>
                      <ul class="plan-stats list-unstyled text-center">
                          <li>5 Load Tests / month</li>
                          <li>20 Minutes Max Load Test Duration</li>
                          <li>5 Virtual Users</li>
                          <li>Email Support</li>
                      </ul>

                      <div class="text-center">
                            <button *ngIf="user.stripe_plan_description === '2020-roboswarm-free'"
                                disabled
                                class="btn btn-secondary btn-bordred btn-rounded waves-effect waves-light">
                                Current Plan
                            </button>
                            <button *ngIf="user.stripe_plan_description !== '2020-roboswarm-free'"
                                [disabled]="disableButtons"
                                class="btn btn-success btn-bordred btn-rounded waves-effect waves-light"
                                (click)="selectPlan('2020-roboswarm-free')">
                                Select Plan
                            </button>
                            <div *ngIf="error && planToSelect === '2020-roboswarm-free'" class="alert alert-danger">{{ error }}</div>
                      </div>
                  </div>
              </article>
              <!--Pricing Column-->
              <article class="pricing-column col-xl-4 col-md-6">
                  <div class="ribbon"><span>POPULAR</span></div>
                  <div class="inner-box card-box">
                      <div class="plan-header text-center">
                          <h3 class="plan-title">Startup</h3>
                          <h2 class="plan-price">$29</h2>
                          <div class="plan-duration">Per Month</div>
                      </div>
                      <ul class="plan-stats list-unstyled text-center">
                          <li>20 Load Tests / month</li>
                          <li>2 Hour Max Load Test Duration</li>
                          <li>500 Virtual Users</li>
                          <li>Scheduled Video Chat &amp; Email Support</li>
                      </ul>

                      <div class="text-center">
                            <button *ngIf="user.stripe_plan_description === '2020-roboswarm-startup'"
                                disabled
                                class="btn btn-secondary btn-bordred btn-rounded waves-effect waves-light">
                                Current Plan
                            </button>
                            <button *ngIf="user.stripe_plan_description !== '2020-roboswarm-startup'"
                                [disabled]="disableButtons"
                                class="btn btn-success btn-bordred btn-rounded waves-effect waves-light"
                                (click)="selectPlan('2020-roboswarm-startup')">
                                Select Plan
                            </button>
                            <br />
                            <div *ngIf="error && planToSelect === '2020-roboswarm-startup'" class="alert alert-danger">{{ error }}</div>
                      </div>
                  </div>
              </article>
              <!--Pricing Column-->
              <article class="pricing-column col-xl-4 col-md-6">
                  <div class="inner-box card-box">
                      <div class="plan-header text-center">
                          <h3 class="plan-title">Enterprise</h3>
                          <h2 class="plan-price">$59</h2>
                          <div class="plan-duration">Per Month</div>
                      </div>
                      <ul class="plan-stats list-unstyled text-center">
                          <li>50 Load Tests / month</li>
                          <li>4 Hour Max Load Test Duration</li>
                          <li>2000 Virtual Users</li>
                          <li>Scheduled Video Chat &amp; Email Support</li>
                      </ul>
                      <div class="text-center">
                            <button *ngIf="user.stripe_plan_description === '2020-roboswarm-enterprise'"
                                disabled
                                class="btn btn-secondary btn-bordred btn-rounded waves-effect waves-light">
                                Current Plan
                            </button>
                            <button *ngIf="user.stripe_plan_description !== '2020-roboswarm-enterprise'"
                                [disabled]="disableButtons"
                                class="btn btn-success btn-bordred btn-rounded waves-effect waves-light"
                                (click)="selectPlan('2020-roboswarm-enterprise')">
                                Select Plan
                            </button>
                            <br />
                            <div *ngIf="error && planToSelect === '2020-roboswarm-enterprise'" class="alert alert-danger">{{ error }}</div>
                      </div>
                  </div>
              </article>
          </div><!-- end row -->
          <div class="row">
                <div class="col-sm-5">
                    <div class="card m-b-20 card-body">
                        <h4 class="card-title">Add or Update Credit Card</h4>
                        <p class="card-text">
                            Before you can select a higher level RoboSwarm plan you will need to add a valid credit card.
                        </p>
                        <button
                            (click)="addOrUpdateCard()"
                            [disabled]="disableButtons"
                            class="btn btn-primary card-modify">Add or Update Credit Card</button>
                        <button
                            *ngIf="user && user.stripe_card_id && user.stripe_card_id !== ''"
                            (click)="deleteCard()"
                            [disabled]="disableButtons"
                            class="btn btn-danger card-modify">Delete Card</button>
                    </div>
                    <div class="card m-b-20 card-body">
                        <h4 class="card-title">Resource Utilization</h4>
                        <app-remaining-resources></app-remaining-resources>
                    </div>
                </div>
                <div class="col-sm-7">
                    <app-invoice-management></app-invoice-management>
                </div>
          </div>
      </div>
    </div>
  </div>
</div>