<app-navigation></app-navigation>
<div class="wrapper billing">
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Plans &amp; Billing</h4>
        </div>
    </div>
    <div class="row m-t-10">
      <div *ngIf="!loading" class="col-md-10 offset-md-1">
          <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="card m-b-20 card-body">
                        <h4 class="card-title">Add or Update Credit Card</h4>
                        <p class="card-text">
                            Before you can select a higher level RoboSwarm plan you will need to add a valid credit card.
                        </p>
                        <button (click)="addOrUpdateCard()" [disabled]="disableButtons" class="btn btn-primary">Add or Update Credit Card</button>
                        <div class="alert alert-info card-exists" *ngIf="user && user.stripe_card_id && user.stripe_card_id !== ''">
                            You have a credit card on file with RoboSwarm.
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
          </div>
          <div class="row">
              <!--Pricing Column-->
              <article class="pricing-column col-xl-4 col-md-6">
                  <div class="inner-box card-box">
                      <div class="plan-header text-center">
                          <h3 class="plan-title">Free</h3>
                          <h2 class="plan-price">$0</h2>
                          <div class="plan-duration">Per Month</div>
                      </div>
                      <ul class="plan-stats list-unstyled text-center">
                          <li>5 Machine Hours / month</li>
                          <li>2 Load Tests / month</li>
                          <li>15 Minutes Max Load Test Duration</li>
                          <li>5 Day Data Retention</li>
                          <li>Email Support</li>
                      </ul>

                      <div class="text-center">
                            <button *ngIf="user.stripe_plan_description === 'free'"
                                disabled
                                class="btn btn-secondary btn-bordred btn-rounded waves-effect waves-light">
                                Current Plan
                            </button>
                            <button *ngIf="user.stripe_plan_description !== 'free'"
                                [disabled]="disableButtons"
                                class="btn btn-success btn-bordred btn-rounded waves-effect waves-light"
                                (click)="selectPlan('free')">
                                Select Plan
                            </button>
                            <div *ngIf="error && planToSelect === 'free'" class="alert alert-danger">{{ error }}</div>
                      </div>
                  </div>
              </article>
              <!--Pricing Column-->
              <article class="pricing-column col-xl-4 col-md-6">
                  <div class="ribbon"><span>POPULAR</span></div>
                  <div class="inner-box card-box">
                      <div class="plan-header text-center">
                          <h3 class="plan-title">Startup</h3>
                          <h2 class="plan-price">$79</h2>
                          <div class="plan-duration">Per Month</div>
                      </div>
                      <ul class="plan-stats list-unstyled text-center">
                          <li>1000 Machine Hours / month</li>
                          <li>30 Load Tests / month</li>
                          <li>2 Hour Max Load Test Duration</li>
                          <li>90 Day Data Retention</li>
                          <li>Scheduled Live Chat &amp; Email Support</li>
                      </ul>

                      <div class="text-center">
                            <button *ngIf="user.stripe_plan_description === 'startup'"
                                disabled
                                class="btn btn-secondary btn-bordred btn-rounded waves-effect waves-light">
                                Current Plan
                            </button>
                            <button *ngIf="user.stripe_plan_description !== 'startup'"
                                [disabled]="disableButtons"
                                class="btn btn-success btn-bordred btn-rounded waves-effect waves-light"
                                (click)="selectPlan('startup')">
                                Select Plan
                            </button>
                            <br />
                            <i *ngIf="user.stripe_plan_description !== 'startup'" >Note: You will be charged immediately for the current month.</i>
                            <div *ngIf="error && planToSelect === 'startup'" class="alert alert-danger">{{ error }}</div>
                      </div>
                  </div>
              </article>
              <!--Pricing Column-->
              <article class="pricing-column col-xl-4 col-md-6">
                  <div class="inner-box card-box">
                      <div class="plan-header text-center">
                          <h3 class="plan-title">Enterprise</h3>
                          <h2 class="plan-price">$399</h2>
                          <div class="plan-duration">Per Month</div>
                      </div>
                      <ul class="plan-stats list-unstyled text-center">
                          <li>7000 Machine Hours / month</li>
                          <li>300 Load Tests / Month</li>
                          <li>6 Hour Max Load Test Duration</li>
                          <li>1 Year Data Retention</li>
                          <li>API Access</li>
                          <li>User &amp; Group Management</li>
                          <li>Live Chat, Phone, &amp; Email Support</li>
                      </ul>

                      <div class="text-center">
                          <button disabled href="#" class="btn btn-success btn-bordred btn-rounded waves-effect waves-light">Coming Soon!</button>
                      </div>
                  </div>
              </article>

              <!--Pricing Column-->
              <!--<article class="pricing-column col-xl-3 col-md-6">
                  <div class="inner-box card-box">
                      <div class="plan-header text-center">
                          <h3 class="plan-title">Custom</h3>
                          <h2 class="plan-price">Contact Us</h2>
                      </div>
                      <ul class="plan-stats list-unstyled text-center">
                          <li>Need more machine hours?</li>
                          <li>Need more load tests?</li>
                          <li>Contact us! We'll create a tailored plan just for you.</li>
                      </ul>
                  </div>
              </article>-->

          </div><!-- end row -->
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>