<div class="card-box">
    <div align='center'>
      <h4 class="header-title mt-0">{{ data.name }}</h4>
    </div>
    <p class="text-muted m-b-15 font-13">
      Details of your swarm. Click below to learn more and see results.
    </p>
    <ul>
      <li><b>Started at:</b> {{ getFormattedDate() }}</li>
      <li><b>Status</b>: <span class="badge badge-{{ getStatusClass() }}">{{ getFormattedStatus() }}</span></li>
      <li><b>Users</b>: {{ getFormattedUsers() }}</li>
      <li><b>Swarm Size</b>: {{ getFormattedSwarmSize() }}</li>
      <li><b>Duration</b>: {{ getFormattedDuration() }}</li>
      <!-- <li><b>Regions</b>: {{ getFormattedRegions() }}</li> -->
    </ul>
    <div align='center'>
      <button type="button" class="btn btn-info waves-effect w-md waves-light m-b-5">Details</button>
      <app-stop-load-test-button
        [swarmStatus]="data.status"
        [swarmId]="data.id"
        (deleteCompleted)="onDeleteCompleted($event)"></app-stop-load-test-button>
    </div>
</div>