<div class="card-box">
    <div align='center'>
      <h4 class="header-title mt-0">{{ data.name }}</h4>
    </div>
    <p class="text-muted m-b-15 font-13">
      Details of your swarm. Click below to learn more and see results.
    </p>
    <ul>
      <li><b>Started at:</b> {{ getFormattedDate() }}</li>
      <li><b>Status</b>: <span class="badge badge-{{ getStatusClass() }}">{{ getFormattedStatus() }}</span></li>
      <li><b>Site</b>: {{ data.host_url }}</li>
      <li><b>Users</b>: {{ getFormattedUsers() }}</li>
      <li><b>Ramp Up</b>: {{ data.spawn_rate }} user<span *ngIf="data.spawn_rate > 1">s</span> per second</li>
      <li><b>Duration</b>: {{ getFormattedDuration() }}</li>
      <li><b>Region(s)</b>: {{ getFormattedRegion() }}</li>
    </ul>
    <div align='center'>
      <div class="btn-group">
        <div *ngIf="showDetailButtons()">
          <button
            [routerLink]="['/dashboard/swarm', data.id]"
            type="button"
            class="btn btn-info waves-effect w-md waves-light m-b-5">Details</button>
        </div>
        <app-stop-load-test-button
          [swarmStatus]="data.status"
          [swarmId]="data.id"
          (deleteCompleted)="onStopCompleted($event)"></app-stop-load-test-button>
        <app-delete-load-test
          [swarmStatus]="data.status"
          [swarmId]="data.id"
          (complete)="onSoftDelete($event)"></app-delete-load-test>
      </div>
    </div>
</div>