<app-navigation></app-navigation>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-20">
          <button [routerLink]="['/swarm/create']" type="button" class="btn btn-primary waves-effect waves-light">Create Load Test</button>
        </div>
        <h4 class="page-title">Dashboard</h4>
      </div>
    </div>
    <div *ngIf="loading" class="row">
      <div class="col-xl-5"></div>
      <div align="center" class="col-xl-2">
        <app-spinner [show]="loading"></app-spinner>
      </div>
      <div class="col-xl-5"></div>
    </div>
    <div *ngIf="!loading">
      <div *ngIf="!swarms || swarms.length === 0" class="row">
        <div class="col-xl-3"></div>
        <div class="col-xl-6">
            <div class="card m-b-20 text-xs-center">
                <div class="card-header">
                    Welcome to RoboSwarm!
                </div>
                <div class="card-body">
                    <p class="card-text">We're so happy that you've decided to use RoboSwarm! To get started, click the "Create Load Test" button in the upper-right corner. From there follow the on-screen directions to start load testing!</p>
                    <p>If you have any questions or comments, don't hesitate to send a message to <a href="mailto:jack@kernl.us">jack@kernl.us</a></p>
                </div>
            </div>
        </div>
        <div class="col-xl-3"></div>
      </div>
      <div *ngIf="swarms && swarms.length > 0" class="row">
        <app-swarm-tile *ngFor="let swarm of swarms"
          [data]="swarm"
          (deleted)="onSwarmDeleted($event)"
          class="col-xl-4"></app-swarm-tile>
      </div>
    </div>
</div>
<app-footer></app-footer>