<div class="wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
            <div *ngIf="routes?.length > 0" class="btn-group pull-right m-t-20">
                <div *ngIf="showSaveSuccess" class="alert alert-success">
                    Your template has been saved.
                </div>
                <button *ngIf="!saving" (click)="save()" type="button" class="btn btn-primary waves-effect waves-light">Save Load Test Template</button>
                <app-spinner [show]="saving"></app-spinner>
            </div>
            <h4 class="page-title" *ngIf="step === 1">Select a Load Test Template Type</h4>
            <h4 class="page-title" *ngIf="step === 2 && isAuthenticated()">
                Upload User Credentials
            </h4>
            <h4 class="page-title" *ngIf="(step === 2 && !isAuthenticated()) || step === 3">
                Build the Load Test Template
            </h4>
        </div>
      </div>
      <div class="row step-1" *ngIf="step === 1">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">WordPress: Unauthenticated</h5>
                    <p class="card-text">
                        Anonymous users will browse your WordPress site in the sequence of your choosing.
                    </p>
                    <a (click)="selectTestType('unauthenticated')" class="btn btn-primary btn-sm card-link">Select</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">WordPress: Authenticated</h5>
                    <p class="card-text">
                        Authenticated users will browse your WordPress site in the sequence of your choosing.
                    </p>
                    <a (click)="selectTestType('authenticated')" class="btn btn-primary btn-sm card-link">Select</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">WordPress: Admin</h5>
                    <p class="card-text">
                        Authenticated users will navigate through your WordPress Admin page.
                    </p>
                    <a (click)="selectTestType('admin')" class="btn btn-primary btn-sm card-link">Select</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">WooCommerce</h5>
                    <p class="card-text">
                        Anonymous users will add two products to a shopping cart and then checkout.
                    </p>
                    <a (click)="selectTestType('woocommerce')" class="btn btn-primary btn-sm card-link">Select</a>
                </div>
            </div>
        </div>
      </div>
      <div class="row step-2" *ngIf="step === 2 && isAuthenticated()">
          <!-- Upload user credentials-->
          <div class="col-sm-3"></div>
          <div class="col-sm-6 card">
              <div class="card-body">
                <p class="card-text">
                    To continue you need to upload a .csv file with your username/password combinations. The format
                    should be: username,password with each username on a new line.
                </p>
                <h6>Example</h6>
                <pre>
jack@kernl.us,mypassword
jane@roboswarm.dev,anotherPassword
wow@muchdoge.co,password</pre>
                <p class="card-text">RoboSwarm will validate your CSV formatting before continuing the template setup process.</p>
                <form *ngIf="!userCount" class="form-horizontal m-t-20" #createTemplateForm="ngForm" autocomplete="off">
                    <div class="custom-file">
                        <input (change)="onFileSelected($event)" type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <div class="center-button">
                        <app-spinner [show]="fileUploading"></app-spinner>
                    </div>
                    <div *ngIf="fileError !== null" class="alert alert-danger">{{ fileError }}</div>
                </form>
                <div *ngIf="userCount && userCount > 0" class="alert alert-info">
                    CSV with <b>{{ userCount }}</b> user accounts uploaded successfully.
                </div>
                <div class="center-button">
                    <a *ngIf="userCount && userCount > 0" (click)="proceedToTemplateCreation()" class="btn btn-primary btn-sm card-link">Next: Build Template</a>
                </div>
              </div>
          </div>
          <div class="col-sm-3"></div>
      </div>
      <div class="row step-3" *ngIf="(step === 2 && !isAuthenticated()) || step === 3">
        <div class="col-sm-4">
            <div class="add-route-actions">
                <form>
                    <div class="form-group">
                        <label for="name">Template Name</label>
                        <input
                            type="text"
                            name="name"
                            class="form-control"
                            placeholder="My template..."
                            [(ngModel)]="name">
                    </div>
                </form>
                <button (click)="addRoute('basic')" type="button" class="btn btn-secondary">
                    New Route
                </button>
                <button (click)="importFromWordPress(importFromWordPressModal)" type="button" class="btn btn-secondary">
                    Import from WordPress
                </button>
                <!--<button type="button" class="btn btn-primary">Add WooCommerce Product</button>-->
            </div>
            <hr *ngIf="routes?.length > 0"/>
            <div *ngFor="let route of routes; let idx = index;" [ngClass]="route.id === selectedRoute?.id ? 'active' : ''" class="card route">
                <div class="row">
                    <div (click)="selectRoute(idx)"class="col-sm-2 center-text">
                        <span *ngIf="route.method === 'GET'" class="badge badge-info">{{ route.method }}</span>
                        <span *ngIf="route.method === 'POST'" class="badge badge-success">{{ route.method }}</span>
                        <span *ngIf="route.method === 'PATCH'" class="badge badge-success">{{ route.method }}</span>
                        <span *ngIf="route.method === 'PUT'" class="badge badge-success">{{ route.method }}</span>
                        <span *ngIf="route.method === 'DELETE'" class="badge badge-danger">{{ route.method }}</span>
                    </div>
                    <div (click)="selectRoute(idx)" class="col-sm-8">
                        {{ route.path }}
                    </div>
                    <div (click)="deleteRoute(idx)" class="col-sm-2 center-text">
                        &#10007;
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div *ngIf="!selectedRoute" class="alert alert-info">
                Click "Add Route" to get started.
            </div>
            <div *ngIf="selectedRoute" class="sticky-wrapper">
                <app-route-editor [route]="selectedRoute" [onChange]="onRouteChange"></app-route-editor>
            </div>
        </div>
      </div>
    </div>
</div>
<ng-template #importFromWordPressModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Import from WordPress</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Enter the full URL to your sitemap.xml file. Example: https://roboswarm.dev/sitemap.xml
      <br />
      <app-spinner [show]="importButtonDisabled()"></app-spinner>
      <form *ngIf="!importButtonDisabled()">
        <div class="form-row">
            <div class="col">
                <input
                    type="text"
                    name="sitemapPath"
                    class="form-control"
                    placeholder="https://example.com/sitemap.xml"
                    [(ngModel)]="sitemapPath"/>
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="importButtonDisabled()"
        type="button"
        class="btn btn-primary"
        (click)="startImport()">Start Import</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('cancel')">Cancel</button>
    </div>
  </ng-template>