<div class="wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
            <div *ngIf="routes?.length > 0" class="btn-group pull-right m-t-20">
                <div *ngIf="showSaveSuccess" class="alert alert-success">
                    Your template has been saved.
                </div>
                <button *ngIf="!saving" [disabled]="!hasName()" (click)="save()" type="button" class="btn btn-primary waves-effect waves-light">Save Load Test Template</button>
                <app-spinner [show]="saving"></app-spinner>
            </div>
            <h4 class="page-title" *ngIf="step === 1">Select a Load Test Template Type</h4>
            <h4 class="page-title" *ngIf="step === 2">Build the Load Test Template</h4>
        </div>
      </div>
      <div class="row step-1" *ngIf="step === 1">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">General Load Test Template</h5>
                    <img width="100%" src="assets/images/wordpress_logo.png">
                    <p class="card-text">
                        Select this template type if you are testing any of the following:
                    </p>
                    <ul>
                        <li>WordPress</li>
                        <li>APIs</li>
                        <li>WordPress Admin Backend</li>
                    </ul>
                    <div class="center-button">
                        <a (click)="selectTestType('unauthenticated')" class="btn btn-primary btn-lg card-link">Select</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">WooCommerce Load Test Template</h5>
                    <img class="woo-logo" width="100%" src="assets/images/woocommerce_logo.png">
                    <p class="card-text">
                        If you want to load test a WooCommerce store, select this template type.
                    </p>
                    <div class="center-button">
                        <a [routerLink]="['/dashboard/woocommerce-template/add']" class="btn btn-primary btn-lg card-link">Select</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row step-3" *ngIf="step === 2">
        <div class="col-sm-4">
            <div class="add-route-actions">
                <form>
                    <div class="form-group">
                        <label for="name">
                            Template Name<span *ngIf="!hasName()"> (Required)</span>
                        </label>
                        <input
                            type="text"
                            name="name"
                            class="form-control"
                            placeholder="My template..."
                            [(ngModel)]="name">
                    </div>
                </form>
                <button (click)="addRoute('basic')" type="button" class="btn btn-secondary">
                    Add Route
                </button>
                <button *ngIf="!authStep" (click)="addRoute('auth')" type="button" class="btn btn-secondary">
                    Add Authentication Step
                </button>
                <button (click)="importFromWordPress(importFromWordPressModal)" type="button" class="btn btn-secondary">
                    Import from WordPress
                </button>
                <!--<button type="button" class="btn btn-primary">Add WooCommerce Product</button>-->
            </div>
            <hr *ngIf="routes?.length > 0"/>
            <div *ngFor="let route of routes; let idx = index;"
                [ngClass]="route.id === selectedRoute?.id ? 'active' : ''"
                class="card route">
                <div class="row" cdkDrag>
                    <div class="col-sm-1 center-text">
                        <span (click)="moveUp(idx)">&#8593;</span> <!-- Up -->
                        <br />
                        <span (click)="moveDown(idx)">&#8595;</span> <!-- Down -->
                    </div>
                    <div (click)="selectRoute(idx)" class="col-sm-2 center-text">
                        <span *ngIf="route.method === 'GET'" class="badge badge-info">{{ route.method }}</span>
                        <span *ngIf="route.method === 'POST'" class="badge badge-success">{{ route.method }}</span>
                        <span *ngIf="route.method === 'PATCH'" class="badge badge-success">{{ route.method }}</span>
                        <span *ngIf="route.method === 'PUT'" class="badge badge-success">{{ route.method }}</span>
                        <span *ngIf="route.method === 'DELETE'" class="badge badge-danger">{{ route.method }}</span>
                    </div>
                    <div (click)="selectRoute(idx)" class="col-sm-7">
                        {{ route.path }}
                        <span *ngIf="userActionRequired(route)" class="badge badge-danger">
                            Action Required
                        </span>
                    </div>
                    <div (click)="deleteRoute(idx)" class="col-sm-2 center-text">
                        &#10007;
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div *ngIf="!selectedRoute" class="alert alert-info">
                Click "Add Route" to get started.
            </div>
            <div *ngIf="selectedRoute" class="sticky-wrapper">
                <app-route-editor [route]="selectedRoute" [onChange]="onRouteChange"></app-route-editor>
            </div>
        </div>
      </div>
    </div>
</div>
<ng-template #importFromWordPressModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Import from WordPress</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('cancel')"></button>
    </div>
    <div class="modal-body">
      Enter the full URL to your sitemap.xml file. Example: https://roboswarm.dev/sitemap.xml
      <br />
      <app-spinner [show]="importButtonDisabled()"></app-spinner>
      <form *ngIf="!importButtonDisabled()">
        <div class="form-row">
            <div class="col">
                <input
                    type="text"
                    name="sitemapPath"
                    class="form-control"
                    placeholder="https://example.com/sitemap.xml"
                    [(ngModel)]="sitemapPath"/>
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="importButtonDisabled()"
        type="button"
        class="btn btn-primary"
        (click)="startImport()">Start Import</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('cancel')">Cancel</button>
    </div>
  </ng-template>