<header id="topnav">
  <div class="topbar-main">
    <div class="container-fluid">
      <!-- Logo container-->
      <div class="logo">
          <!-- Image Logo -->
          <a [routerLink]="['/dashboard']" class="logo">
              <img src="assets/images/roboswarm_bird_dark.png" class="logo-small bird">
              <img src="assets/images/roboswarm_text_dark.png" class="logo-small text">
              <img src="assets/images/roboswarm_bird_dark.png" class="logo-large bird">
              <img src="assets/images/roboswarm_text_dark.png" class="logo-large text">
          </a>
      </div>
      <div class="pull-right support">
        <a href="mailto:jack@kernl.us?subject=RoboSwarm Support Request">
          <i class="icon dripicons-question"></i>
        </a>
      </div>
      <div class="clearfix"></div>
    </div> <!-- end container -->
  </div>
  <div class="navbar-custom">
    <div class="container-fluid">
      <app-navigation-links></app-navigation-links>
    </div>
  </div>
  <app-payment-status-banner></app-payment-status-banner>
</header>