<header id="topnav">
  <div class="topbar-main">
    <div class="container-fluid">
      <!-- Logo container-->
      <div class="logo">
          <!-- Text Logo -->
          <a [routerLink]="['/dashboard']" class="logo">
              <span class="logo-small">RoboSwarm</span>
              <span class="logo-large">RoboSwarm</span>
          </a>
          <!-- Image Logo -->
          <!-- <a href="index.html" class="logo">
              <img src="assets/images/logo-sm.png" alt="" height="26" class="logo-small">
              <img src="assets/images/logo.png" alt="" height="24" class="logo-large">
          </a> -->
      </div>
      <!-- <div class="menu-extras topbar-custom">
        <ul class="list-unstyled topbar-right-menu float-right mb-0">
          <li class="menu-item">
              <a class="navbar-toggle nav-link">
                  <div class="lines">
                      <span></span>
                      <span></span>
                      <span></span>
                  </div>
              </a>
          </li>
          <li>
              <div class="notification-box">
                  <ul class="list-inline mb-0">
                      <li>
                          <a href="javascript:void(0);" class="right-bar-toggle">
                              <i class="mdi mdi-bell-outline noti-icon"></i>
                          </a>
                          <div class="noti-dot">
                              <span class="dot"></span>
                              <span class="pulse"></span>
                          </div>
                      </li>
                  </ul>
              </div>
          </li>
          </ul>
      </div> -->
      <div class="clearfix"></div>
    </div> <!-- end container -->
  </div>
  <div class="navbar-custom">
    <div class="container-fluid">
      <app-navigation-links></app-navigation-links>
    </div>
  </div>
</header>