.logo-small.bird {
    height: 45px;
}

.logo-small.text {
    height: 28px;
    margin-left: 11px;
}

.logo-large.bird {
    height: 45px;
}

.logo-large.text {
    height: 28px;
    margin-left: 11px;
}

.support {
    height: 50px;
    padding-top: 11px;
    color: #98a6ad;
    font-size: 24px;
}