<header id="topnav">
  <div class="topbar-main">
    <div class="container-fluid">
      <!-- Logo container-->
      <div class="logo">
          <!-- Image Logo -->
          <a [routerLink]="['/dashboard']" class="logo">
              <span class="logo-small">Roboswarm</span>
              <span class="logo-large">Roboswarm</span>
              <!-- <img src="assets/images/logo_light.png" alt="" height="26" class="logo-small">
              <img src="assets/images/logo_light.png" alt="" height="24" class="logo-large"> -->
          </a>
      </div>
      <div class="clearfix"></div>
    </div> <!-- end container -->
  </div>
  <div class="navbar-custom">
    <div class="container-fluid">
      <app-navigation-links></app-navigation-links>
    </div>
  </div>
</header>