<app-navigation></app-navigation>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="page-title">Create Swarm &amp; Load Test</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
          <div class="card m-b-20 card-body">
              <p class="card-text">Fill out the information below to create your load test. Once the form as been submitted RoboSwarm will generate your swarm and start your load test.</p>
              <form class="form-horizontal m-t-20" #createTemplateForm="ngForm" (ngSubmit)="onSubmit(createTemplateForm)">
                
              </form>
          </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
</div>
<app-footer></app-footer>