<app-navigation></app-navigation>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="page-title">Create Load Test Template</h4>
      </div>
    </div>
    <form class="form-horizontal m-t-20" #createTemplateForm="ngForm">
    <div class="row">
        <div class="col-sm-4">
          <div class="card m-b-20 card-body">
            <div class="form-group">
              <label for="name">Template Name</label>
              <input class="form-control"
                    type="text"
                    name="name"
                    id="name"
                    required
                    [(ngModel)]="model.name"
                    [disabled]="submitted">
              <small class="form-text text-muted">The name of this template. It could be something like "Heavy Traffic Template".</small>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-8">
                  <label for="sitemapUrl">Import via Sitemap</label>
                  <input class="form-control"
                        type="text"
                        name="sitemapUrl"
                        id="sitemapUrl"
                        required
                        [(ngModel)]="model.sitemapUrl"
                        [disabled]="submitted">
                  <small class="form-text text-muted">The URL of your site. This should <strong>not</strong> include any reference to the sitemap. Ex: https://example.com</small>
                </div>
                <div class="col-sm-4 import-button">
                  <button *ngIf="!sitemapImportWorking" (click)="importFromSitemap()" [disabled]="!model.sitemapUrl" type="button" class="btn btn-primary btn-sm waves-effect waves-light">Start Import</button>
                  <app-spinner [show]="sitemapImportWorking"></app-spinner>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Add Route</label>
              <input class="form-control"
                    type="text"
                    name="tmpRoute"
                    id="tmpRoute"
                    (keyup.enter)="addTmpRoute($event)"
                    [(ngModel)]="tmpRoute">
              <small class="form-text text-muted">The name of this template. It could be something like "Heavy Traffic Template".</small>
              <button (click)="addTmpRoute($event)" [disabled]="!tmpRoute" type="button" class="btn btn-primary btn-sm waves-effect waves-light">Add Route</button>
            </div>
            <div class="form-group text-center m-t-40 mb-0">
                <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light"
                        (click)="onSubmit(createTemplateForm)"
                        [disabled]="saving || !canSave()">
                  Save Template
                </button>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
            <div *ngIf="!model.routes || model.routes.length == 0" class="alert alert-info">
              You don't have any routes in this template yet. Use the menu on the left to add some.
            </div>
            <div *ngIf="model.routes && model.routes.length > 0" class="card m-b-20 card-body">
              <p>These are the routes that we will run the load test against.</p>
              <table class="table">
                <thead>
                  <tr>
                    <th>Method</th>
                    <th>Route</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let route of model.routes; trackBy: trackByFn; let i = index;">
                    <td>{{ route.method }}</td>
                    <td>
                      <input class="form-control"
                        type="text"
                        name="path-{{i}}"
                        id="name-{{i}}"
                        required
                        [(ngModel)]="model.routes[i].path">
                    </td>
                    <td><button (click)="deleteRouteAtIndex(i)" type="button" class="btn btn-danger btn-sm waves-effect waves-light">Remove</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
    </form>
</div>
<app-footer></app-footer>